
@{
    ViewBag.Title = "Index";
}


<html>
<head>


    <title>home page</title>
</head>

<body>
    <!-- picture -----------------*****************-->
    <div class="w3-container w3-center">
        <hr>
        <h3>About FPT University</h3>
    </div>

    <div class="w3-row-padding">

        <div class="w3-third">
            <div class="w3-card-4">
                <img src="~/Content/img/f1.jpg" alt="building" style="width:100%" height="400">
                <div class="w3-container w3-teal">
                    <p>Fpt Building Hòa Lạc</p>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card-4">
                <img src="~/Content/img/f2.jpg" alt="3 start" style="width:100%" height="400">
                <div class="w3-container w3-teal">
                    <p>Chứng Nhận 3 sao</p>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card-4">
                <img src="~/Content/img/f3.jpg" alt="Giang duong" style="width:100%" height="400">
                <div class="w3-container w3-teal">
                    <p>Hội Trường</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



